!!!

%head
    %title Reddit Image Scraper: Ruby/Sinatra port of http://www.kershner.org/scrape


%body
    .container
        .welcome
            %h1 Reddit Image Scraper
            %p
                A Ruby/Sinatra port of the python scraper found here:
                = precede " " do
                    %a{ href: 'http://www.kershner.org/scrape' }>http://www.kershner.org/scrape
            