.image
  .image-inner
    %a{ href: 'http://reddit.com/r/EarthPorn/comments/3fhebq/the_cliffs_of_moher_ireland_oc_2560x1709/' }
      %img{src: 'http://i.imgur.com/Mycvbzf.jpg', style: "max-height: 300px;"}


.video-container
  .video-inner
    %a{ href: 'http://reddit.com/r/EarthPorn/comments/3fhebq/the_cliffs_of_moher_ireland_oc_2560x1709/' }
      %video{"preload": "auto", "autoplay": "autoplay", "loop": "loop", "muted": "muted", "id": "video", "src": "http://i.imgur.com/zvATqgs.webm"}
    
.video-container
  .video-inner
    %a{ href: 'http://reddit.com/r/EarthPorn/comments/3fhebq/the_cliffs_of_moher_ireland_oc_2560x1709/' }
      %video{"preload": "auto", "autoplay": "autoplay", "loop": "loop", "muted": "muted", "id": "video", "src": "http://i.imgur.com/zvATqgs.webm"}
    
.video-container
  .video-inner
    %a{ href: 'http://reddit.com/r/EarthPorn/comments/3fhebq/the_cliffs_of_moher_ireland_oc_2560x1709/' }
      %video{"preload": "auto", "autoplay": "autoplay", "loop": "loop", "muted": "muted", "id": "video", "src": "http://i.imgur.com/zvATqgs.webm"}
    
.video-container
  .video-inner
    %a{ href: 'http://reddit.com/r/EarthPorn/comments/3fhebq/the_cliffs_of_moher_ireland_oc_2560x1709/' }
      %video{"preload": "auto", "autoplay": "autoplay", "loop": "loop", "muted": "muted", "id": "video", "src": "http://i.imgur.com/zvATqgs.webm"}
    






      -# %source{"type": "video/webm", "src": "http://i.imgur.com/zvATqgs.webm"}
      -# %source{"type": "video/mp4", "src": "http://i.imgur.com/zvATqgs.mp4"}









-# formatting for gifv:

-# <div class="video-container">
-#     <video autoplay="" loop="" muted="">
-#         <source type="video/webm" src="http://i.imgur.com/zvATqgs.webm">
-#         <source type="video/mp4" src="http://i.imgur.com/zvATqgs.mp4">
-#     </video>
-# </div>